dfFrazao01/linkedTemplates/ArmTemplate_0.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfFrazao01"
		},
		"ls_adls_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_adls'"
		},
		"ls_adv_wrk_dw_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_adv_wrk_dw'"
		},
		"ls_aws_s3_secretAccessKey": {
			"type": "secureString",
			"metadata": "Secure string for 'secretAccessKey' of 'ls_aws_s3'"
		},
		"ls_sql_adv_works_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sql_adv_works'"
		},
		"ls_sql_dw_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sql_dw'"
		},
		"ls_sql_oltp_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sql_oltp'"
		},
		"ls_sql_staging_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ls_sql_staging'"
		},
		"SqlServerLocalhost_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'SqlServerLocalhost'"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://kvFrazao01.vault.azure.net/"
		},
		"ls_adls_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsadvwks.dfs.core.windows.net"
		},
		"ls_aws_s3_properties_typeProperties_accessKeyId": {
			"type": "string",
			"defaultValue": "AKIAXBNNRNEWUDEDMUHM"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adls')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_adls_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_adls_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_adv_wrk_dw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_adv_wrk_dw_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_aws_s3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Linked service to connect AWS S3",
				"annotations": [],
				"type": "AmazonS3",
				"typeProperties": {
					"serviceUrl": "",
					"accessKeyId": "[parameters('ls_aws_s3_properties_typeProperties_accessKeyId')]",
					"secretAccessKey": {
						"type": "SecureString",
						"value": "[parameters('ls_aws_s3_secretAccessKey')]"
					},
					"authenticationType": "AccessKey"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_adv_works')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_adv_works_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_dw')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_dw_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_oltp')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_oltp_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_sql_staging')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"connectionString": "[parameters('ls_sql_staging_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/localhost')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3_CSV')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_aws_s3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leandroaws2022",
						"folderPath": "Salus",
						"fileName": "Avaliacao.csv"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ID;Status;IDUsuarioAvaliacao;DataNegociacao;IDUsuarioNegociacao;IDConsulta;IDCentroReceita;IDTabelaPreco;DataValidade;TotalTabela;TotalCobrado;TotalLaboratorio;Observacao;IDEmpresa;DataCadastro;IDUsuarioCadastro;DataAlteracao;IDUsuarioAlteracao",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_aws_s3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/S3_excel')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_aws_s3",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"fileName": {
						"type": "string"
					},
					"tableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Excel",
				"typeProperties": {
					"sheetName": {
						"value": "@dataset().tableName",
						"type": "Expression"
					},
					"location": {
						"type": "AmazonS3Location",
						"bucketName": "leandroaws2022",
						"folderPath": "Salus",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						}
					},
					"firstRowAsHeader": true
				},
				"schema": [
					{
						"name": "ID",
						"type": "String"
					},
					{
						"name": "RazaoSocial",
						"type": "String"
					},
					{
						"name": "NomeFantasia",
						"type": "String"
					},
					{
						"name": "Codigo",
						"type": "String"
					},
					{
						"name": "CNPJ",
						"type": "String"
					},
					{
						"name": "NomeRT",
						"type": "String"
					},
					{
						"name": "CRORT",
						"type": "String"
					},
					{
						"name": "CROUnidade",
						"type": "String"
					},
					{
						"name": "InscricaoMunicipal",
						"type": "String"
					},
					{
						"name": "InscricaoEstadual",
						"type": "String"
					},
					{
						"name": "Endereco",
						"type": "String"
					},
					{
						"name": "Numero",
						"type": "String"
					},
					{
						"name": "Complemento",
						"type": "String"
					},
					{
						"name": "Bairro",
						"type": "String"
					},
					{
						"name": "IDCidade",
						"type": "String"
					},
					{
						"name": "IDEstado",
						"type": "String"
					},
					{
						"name": "CEP",
						"type": "String"
					},
					{
						"name": "Latitude",
						"type": "String"
					},
					{
						"name": "Longitude",
						"type": "String"
					},
					{
						"name": "WebSite",
						"type": "String"
					},
					{
						"name": "Email",
						"type": "String"
					},
					{
						"name": "Telefone1",
						"type": "String"
					},
					{
						"name": "Telefone2",
						"type": "String"
					},
					{
						"name": "Telefone3",
						"type": "String"
					},
					{
						"name": "Fax",
						"type": "String"
					},
					{
						"name": "RoyaltyCarencia",
						"type": "String"
					},
					{
						"name": "RoyaltyCarenciaInicio",
						"type": "String"
					},
					{
						"name": "RoyaltyCarenciaFinal",
						"type": "String"
					},
					{
						"name": "RoyaltyCobrancaInicio",
						"type": "String"
					},
					{
						"name": "RoyaltyTipo",
						"type": "String"
					},
					{
						"name": "RoyaltyPercentual",
						"type": "String"
					},
					{
						"name": "RoyaltyValor",
						"type": "String"
					},
					{
						"name": "FundoCarencia",
						"type": "String"
					},
					{
						"name": "FundoCarenciaInicio",
						"type": "String"
					},
					{
						"name": "FundoCarenciaFinal",
						"type": "String"
					},
					{
						"name": "FundoCobrancaInicio",
						"type": "String"
					},
					{
						"name": "FundoTipo",
						"type": "String"
					},
					{
						"name": "FundoPercentual",
						"type": "String"
					},
					{
						"name": "FundoValor",
						"type": "String"
					},
					{
						"name": "IDStatusUnidade",
						"type": "String"
					},
					{
						"name": "DataVenda",
						"type": "String"
					},
					{
						"name": "DataExpiracaoContrato",
						"type": "String"
					},
					{
						"name": "DataInicioObra",
						"type": "String"
					},
					{
						"name": "DataFinalObra",
						"type": "String"
					},
					{
						"name": "DataInauguracao",
						"type": "String"
					},
					{
						"name": "DataInicioPonto",
						"type": "String"
					},
					{
						"name": "DataFinalPonto",
						"type": "String"
					},
					{
						"name": "Observacao",
						"type": "String"
					},
					{
						"name": "Categoria",
						"type": "String"
					},
					{
						"name": "FranqueadoraPercentual",
						"type": "String"
					},
					{
						"name": "SalasTotal",
						"type": "String"
					},
					{
						"name": "SalasAtivas",
						"type": "String"
					},
					{
						"name": "IDGrupo",
						"type": "String"
					},
					{
						"name": "IDEmpresa",
						"type": "String"
					},
					{
						"name": "GravarLog",
						"type": "String"
					},
					{
						"name": "TipoDesconto",
						"type": "String"
					},
					{
						"name": "DescLabComAvaliador",
						"type": "String"
					},
					{
						"name": "DescLabComNegociador",
						"type": "String"
					},
					{
						"name": "TipoAprovacao",
						"type": "String"
					},
					{
						"name": "TipoTEF",
						"type": "String"
					},
					{
						"name": "MaxTabelasLab",
						"type": "String"
					},
					{
						"name": "MaxDiasComissionar",
						"type": "String"
					},
					{
						"name": "PermiteClienteEstrangeiro",
						"type": "String"
					},
					{
						"name": "DataCadastro",
						"type": "String"
					},
					{
						"name": "IDUsuarioCadastro",
						"type": "String"
					},
					{
						"name": "DataAlteracao",
						"type": "String"
					},
					{
						"name": "IDUsuarioAlteracao",
						"type": "String"
					},
					{
						"name": "CategoriaPlanoConta",
						"type": "String"
					},
					{
						"name": "PontoReferencia",
						"type": "String"
					},
					{
						"name": "HorarioFuncionamento",
						"type": "String"
					},
					{
						"name": "Estacionamento",
						"type": "String"
					},
					{
						"name": "AcessoCadeirante",
						"type": "String"
					},
					{
						"name": "RadiografiaPanoramica",
						"type": "String"
					},
					{
						"name": "AceitaSorriden",
						"type": "String"
					},
					{
						"name": "PermitePesquisaUnidades",
						"type": "String"
					},
					{
						"name": "CategoriaTamanho",
						"type": "String"
					},
					{
						"name": "IDTipoReceitaDespesa",
						"type": "String"
					},
					{
						"name": "DiaVencimentoFundo",
						"type": "String"
					},
					{
						"name": "SmsPermitirResposta",
						"type": "String"
					},
					{
						"name": "BloquearAcesso",
						"type": "String"
					},
					{
						"name": "IDModeloEmail",
						"type": "String"
					},
					{
						"name": "NomeComercial",
						"type": "String"
					},
					{
						"name": "DataEncerramento",
						"type": "String"
					},
					{
						"name": "DiaTravaSolicitacaoPagamento",
						"type": "String"
					},
					{
						"name": "VerificarLimiteOrcamento",
						"type": "String"
					},
					{
						"name": "IDRxPlano",
						"type": "String"
					},
					{
						"name": "CobrarMensalidadeSistema",
						"type": "String"
					},
					{
						"name": "ValorMensalidadeSistema",
						"type": "String"
					},
					{
						"name": "RegimeTributario",
						"type": "String"
					},
					{
						"name": "IDSisoTabelaPreco",
						"type": "String"
					},
					{
						"name": "HorarioInicio",
						"type": "String"
					},
					{
						"name": "HorarioTermino",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_aws_s3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SQLStaging')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_staging",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"tableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ID",
						"type": "varchar"
					},
					{
						"name": "RazaoSocial",
						"type": "varchar"
					},
					{
						"name": "NomeFantasia",
						"type": "varchar"
					},
					{
						"name": "Codigo",
						"type": "varchar"
					},
					{
						"name": "CNPJ",
						"type": "varchar"
					},
					{
						"name": "NomeRT",
						"type": "varchar"
					},
					{
						"name": "CRORT",
						"type": "varchar"
					},
					{
						"name": "CROUnidade",
						"type": "varchar"
					},
					{
						"name": "InscricaoMunicipal",
						"type": "varchar"
					},
					{
						"name": "InscricaoEstadual",
						"type": "varchar"
					},
					{
						"name": "Endereco",
						"type": "varchar"
					},
					{
						"name": "Numero",
						"type": "varchar"
					},
					{
						"name": "Complemento",
						"type": "varchar"
					},
					{
						"name": "Bairro",
						"type": "varchar"
					},
					{
						"name": "IDCidade",
						"type": "varchar"
					},
					{
						"name": "IDEstado",
						"type": "varchar"
					},
					{
						"name": "CEP",
						"type": "varchar"
					},
					{
						"name": "Latitude",
						"type": "varchar"
					},
					{
						"name": "Longitude",
						"type": "varchar"
					},
					{
						"name": "WebSite",
						"type": "varchar"
					},
					{
						"name": "Email",
						"type": "varchar"
					},
					{
						"name": "Telefone1",
						"type": "varchar"
					},
					{
						"name": "Telefone2",
						"type": "varchar"
					},
					{
						"name": "Telefone3",
						"type": "varchar"
					},
					{
						"name": "Fax",
						"type": "varchar"
					},
					{
						"name": "RoyaltyCarencia",
						"type": "varchar"
					},
					{
						"name": "RoyaltyCarenciaInicio",
						"type": "varchar"
					},
					{
						"name": "RoyaltyCarenciaFinal",
						"type": "varchar"
					},
					{
						"name": "RoyaltyCobrancaInicio",
						"type": "varchar"
					},
					{
						"name": "RoyaltyTipo",
						"type": "varchar"
					},
					{
						"name": "RoyaltyPercentual",
						"type": "varchar"
					},
					{
						"name": "RoyaltyValor",
						"type": "varchar"
					},
					{
						"name": "FundoCarencia",
						"type": "varchar"
					},
					{
						"name": "FundoCarenciaInicio",
						"type": "varchar"
					},
					{
						"name": "FundoCarenciaFinal",
						"type": "varchar"
					},
					{
						"name": "FundoCobrancaInicio",
						"type": "varchar"
					},
					{
						"name": "FundoTipo",
						"type": "varchar"
					},
					{
						"name": "FundoPercentual",
						"type": "varchar"
					},
					{
						"name": "FundoValor",
						"type": "varchar"
					},
					{
						"name": "IDStatusUnidade",
						"type": "varchar"
					},
					{
						"name": "DataVenda",
						"type": "varchar"
					},
					{
						"name": "DataExpiracaoContrato",
						"type": "varchar"
					},
					{
						"name": "DataInicioObra",
						"type": "varchar"
					},
					{
						"name": "DataFinalObra",
						"type": "varchar"
					},
					{
						"name": "DataInauguracao",
						"type": "varchar"
					},
					{
						"name": "DataInicioPonto",
						"type": "varchar"
					},
					{
						"name": "DataFinalPonto",
						"type": "varchar"
					},
					{
						"name": "Observacao",
						"type": "varchar"
					},
					{
						"name": "Categoria",
						"type": "varchar"
					},
					{
						"name": "FranqueadoraPercentual",
						"type": "varchar"
					},
					{
						"name": "SalasTotal",
						"type": "varchar"
					},
					{
						"name": "SalasAtivas",
						"type": "varchar"
					},
					{
						"name": "IDGrupo",
						"type": "varchar"
					},
					{
						"name": "IDEmpresa",
						"type": "varchar"
					},
					{
						"name": "GravarLog",
						"type": "varchar"
					},
					{
						"name": "TipoDesconto",
						"type": "varchar"
					},
					{
						"name": "DescLabComAvaliador",
						"type": "varchar"
					},
					{
						"name": "DescLabComNegociador",
						"type": "varchar"
					},
					{
						"name": "TipoAprovacao",
						"type": "varchar"
					},
					{
						"name": "TipoTEF",
						"type": "varchar"
					},
					{
						"name": "MaxTabelasLab",
						"type": "varchar"
					},
					{
						"name": "MaxDiasComissionar",
						"type": "varchar"
					},
					{
						"name": "PermiteClienteEstrangeiro",
						"type": "varchar"
					},
					{
						"name": "DataCadastro",
						"type": "varchar"
					},
					{
						"name": "IDUsuarioCadastro",
						"type": "varchar"
					},
					{
						"name": "DataAlteracao",
						"type": "varchar"
					},
					{
						"name": "IDUsuarioAlteracao",
						"type": "varchar"
					},
					{
						"name": "CategoriaPlanoConta",
						"type": "varchar"
					},
					{
						"name": "PontoReferencia",
						"type": "varchar"
					},
					{
						"name": "HorarioFuncionamento",
						"type": "varchar"
					},
					{
						"name": "Estacionamento",
						"type": "varchar"
					},
					{
						"name": "AcessoCadeirante",
						"type": "varchar"
					},
					{
						"name": "RadiografiaPanoramica",
						"type": "varchar"
					},
					{
						"name": "AceitaSorriden",
						"type": "varchar"
					},
					{
						"name": "PermitePesquisaUnidades",
						"type": "varchar"
					},
					{
						"name": "CategoriaTamanho",
						"type": "varchar"
					},
					{
						"name": "IDTipoReceitaDespesa",
						"type": "varchar"
					},
					{
						"name": "DiaVencimentoFundo",
						"type": "varchar"
					},
					{
						"name": "SmsPermitirResposta",
						"type": "varchar"
					},
					{
						"name": "BloquearAcesso",
						"type": "varchar"
					},
					{
						"name": "IDModeloEmail",
						"type": "varchar"
					},
					{
						"name": "NomeComercial",
						"type": "varchar"
					},
					{
						"name": "DataEncerramento",
						"type": "varchar"
					},
					{
						"name": "DiaTravaSolicitacaoPagamento",
						"type": "varchar"
					},
					{
						"name": "VerificarLimiteOrcamento",
						"type": "varchar"
					},
					{
						"name": "IDRxPlano",
						"type": "varchar"
					},
					{
						"name": "CobrarMensalidadeSistema",
						"type": "varchar"
					},
					{
						"name": "ValorMensalidadeSistema",
						"type": "varchar"
					},
					{
						"name": "RegimeTributario",
						"type": "varchar"
					},
					{
						"name": "IDSisoTabelaPreco",
						"type": "varchar"
					},
					{
						"name": "HorarioInicio",
						"type": "varchar"
					},
					{
						"name": "HorarioTermino",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_staging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_adls_parquet')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_adls",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"container": {
						"type": "string"
					},
					"path": {
						"type": "string"
					},
					"fileName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": {
							"value": "@dataset().fileName",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().path",
							"type": "Expression"
						},
						"fileSystem": {
							"value": "@dataset().container",
							"type": "Expression"
						}
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_adls')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_adv_works')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_adv_works",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"dbName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().dbName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_adv_works')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_dw')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_dw",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "dbo",
					"table": "dim_product"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_dw')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sql_oltp')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ls_sql_oltp",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"schema": {
						"type": "string"
					},
					"tableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": {
						"value": "@dataset().schema",
						"type": "Expression"
					},
					"table": {
						"value": "@dataset().tableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/ls_sql_oltp')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerLocalhost')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"connectionString": "[parameters('SqlServerLocalhost_connectionString')]"
				},
				"connectVia": {
					"referenceName": "localhost",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/localhost')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_copy_s3')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Pipeline to copy file data from AWS S3",
				"activities": [
					{
						"name": "Copy Avaliacao data from S3 to ADLS",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ExcelSource",
								"storeSettings": {
									"type": "AmazonS3ReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RazaoSocial",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RazaoSocial",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NomeFantasia",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NomeFantasia",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Codigo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Codigo",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CNPJ",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CNPJ",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NomeRT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NomeRT",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CRORT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CRORT",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CROUnidade",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CROUnidade",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "InscricaoMunicipal",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "InscricaoMunicipal",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "InscricaoEstadual",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "InscricaoEstadual",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Endereco",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Endereco",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Numero",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Numero",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Complemento",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Complemento",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Bairro",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Bairro",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IDCidade",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IDCidade",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IDEstado",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IDEstado",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CEP",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CEP",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Latitude",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Longitude",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "WebSite",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "WebSite",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Telefone1",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Telefone1",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Telefone2",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Telefone2",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Telefone3",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Telefone3",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Fax",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Fax",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RoyaltyCarencia",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RoyaltyCarencia",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RoyaltyCarenciaInicio",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RoyaltyCarenciaInicio",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RoyaltyCarenciaFinal",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RoyaltyCarenciaFinal",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RoyaltyCobrancaInicio",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RoyaltyCobrancaInicio",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RoyaltyTipo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RoyaltyTipo",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RoyaltyPercentual",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RoyaltyPercentual",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RoyaltyValor",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RoyaltyValor",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FundoCarencia",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FundoCarencia",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FundoCarenciaInicio",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FundoCarenciaInicio",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FundoCarenciaFinal",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FundoCarenciaFinal",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FundoCobrancaInicio",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FundoCobrancaInicio",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FundoTipo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FundoTipo",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FundoPercentual",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FundoPercentual",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FundoValor",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FundoValor",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IDStatusUnidade",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IDStatusUnidade",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DataVenda",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DataVenda",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DataExpiracaoContrato",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DataExpiracaoContrato",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DataInicioObra",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DataInicioObra",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DataFinalObra",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DataFinalObra",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DataInauguracao",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DataInauguracao",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DataInicioPonto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DataInicioPonto",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DataFinalPonto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DataFinalPonto",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Observacao",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Observacao",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Categoria",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Categoria",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "FranqueadoraPercentual",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "FranqueadoraPercentual",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SalasTotal",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalasTotal",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SalasAtivas",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SalasAtivas",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IDGrupo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IDGrupo",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IDEmpresa",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IDEmpresa",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "GravarLog",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "GravarLog",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "TipoDesconto",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TipoDesconto",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DescLabComAvaliador",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DescLabComAvaliador",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DescLabComNegociador",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DescLabComNegociador",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "TipoAprovacao",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TipoAprovacao",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "TipoTEF",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "TipoTEF",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "MaxTabelasLab",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MaxTabelasLab",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "MaxDiasComissionar",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "MaxDiasComissionar",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "PermiteClienteEstrangeiro",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PermiteClienteEstrangeiro",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DataCadastro",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DataCadastro",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IDUsuarioCadastro",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IDUsuarioCadastro",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DataAlteracao",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DataAlteracao",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IDUsuarioAlteracao",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IDUsuarioAlteracao",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CategoriaPlanoConta",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CategoriaPlanoConta",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "PontoReferencia",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PontoReferencia",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "HorarioFuncionamento",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HorarioFuncionamento",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "Estacionamento",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "Estacionamento",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "AcessoCadeirante",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AcessoCadeirante",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RadiografiaPanoramica",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RadiografiaPanoramica",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "AceitaSorriden",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "AceitaSorriden",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "PermitePesquisaUnidades",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "PermitePesquisaUnidades",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CategoriaTamanho",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CategoriaTamanho",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IDTipoReceitaDespesa",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IDTipoReceitaDespesa",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DiaVencimentoFundo",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DiaVencimentoFundo",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "SmsPermitirResposta",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "SmsPermitirResposta",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "BloquearAcesso",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "BloquearAcesso",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IDModeloEmail",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IDModeloEmail",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "NomeComercial",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "NomeComercial",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DataEncerramento",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DataEncerramento",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "DiaTravaSolicitacaoPagamento",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "DiaTravaSolicitacaoPagamento",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "VerificarLimiteOrcamento",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "VerificarLimiteOrcamento",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IDRxPlano",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IDRxPlano",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "CobrarMensalidadeSistema",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "CobrarMensalidadeSistema",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "ValorMensalidadeSistema",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "ValorMensalidadeSistema",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "RegimeTributario",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "RegimeTributario",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "IDSisoTabelaPreco",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "IDSisoTabelaPreco",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "HorarioInicio",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HorarioInicio",
											"type": "String",
											"physicalType": "UTF8"
										}
									},
									{
										"source": {
											"name": "HorarioTermino",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "HorarioTermino",
											"type": "String",
											"physicalType": "UTF8"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "S3_excel",
								"type": "DatasetReference",
								"parameters": {
									"fileName": "Unidade.xlsx",
									"tableName": "Planilha1"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "ds_adls_parquet",
								"type": "DatasetReference",
								"parameters": {
									"container": "files",
									"path": "Salus",
									"fileName": "unidade.parquet"
								}
							}
						]
					},
					{
						"name": "Copy ADLS to Staging",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy Avaliacao data from S3 to ADLS",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "ParquetSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ID",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ID",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RazaoSocial",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "RazaoSocial",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NomeFantasia",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "NomeFantasia",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Codigo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Codigo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CNPJ",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CNPJ",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NomeRT",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "NomeRT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CRORT",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CRORT",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CROUnidade",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CROUnidade",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "InscricaoMunicipal",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "InscricaoMunicipal",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "InscricaoEstadual",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "InscricaoEstadual",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Endereco",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Endereco",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Numero",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Numero",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Complemento",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Complemento",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Bairro",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Bairro",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IDCidade",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IDCidade",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IDEstado",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IDEstado",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CEP",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CEP",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Latitude",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Latitude",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Longitude",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Longitude",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "WebSite",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "WebSite",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Email",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Email",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Telefone1",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Telefone1",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Telefone2",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Telefone2",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Telefone3",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Telefone3",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Fax",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Fax",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RoyaltyCarencia",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "RoyaltyCarencia",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RoyaltyCarenciaInicio",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "RoyaltyCarenciaInicio",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RoyaltyCarenciaFinal",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "RoyaltyCarenciaFinal",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RoyaltyCobrancaInicio",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "RoyaltyCobrancaInicio",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RoyaltyTipo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "RoyaltyTipo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RoyaltyPercentual",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "RoyaltyPercentual",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RoyaltyValor",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "RoyaltyValor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FundoCarencia",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "FundoCarencia",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FundoCarenciaInicio",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "FundoCarenciaInicio",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FundoCarenciaFinal",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "FundoCarenciaFinal",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FundoCobrancaInicio",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "FundoCobrancaInicio",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FundoTipo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "FundoTipo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FundoPercentual",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "FundoPercentual",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FundoValor",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "FundoValor",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IDStatusUnidade",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IDStatusUnidade",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataVenda",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DataVenda",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataExpiracaoContrato",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DataExpiracaoContrato",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataInicioObra",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DataInicioObra",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataFinalObra",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DataFinalObra",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataInauguracao",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DataInauguracao",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataInicioPonto",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DataInicioPonto",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataFinalPonto",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DataFinalPonto",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Observacao",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Observacao",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Categoria",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Categoria",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "FranqueadoraPercentual",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "FranqueadoraPercentual",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SalasTotal",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SalasTotal",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SalasAtivas",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SalasAtivas",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IDGrupo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IDGrupo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IDEmpresa",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IDEmpresa",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "GravarLog",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "GravarLog",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TipoDesconto",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "TipoDesconto",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DescLabComAvaliador",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DescLabComAvaliador",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DescLabComNegociador",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DescLabComNegociador",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TipoAprovacao",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "TipoAprovacao",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "TipoTEF",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "TipoTEF",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MaxTabelasLab",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "MaxTabelasLab",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "MaxDiasComissionar",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "MaxDiasComissionar",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PermiteClienteEstrangeiro",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "PermiteClienteEstrangeiro",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataCadastro",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DataCadastro",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IDUsuarioCadastro",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IDUsuarioCadastro",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataAlteracao",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DataAlteracao",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IDUsuarioAlteracao",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IDUsuarioAlteracao",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CategoriaPlanoConta",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CategoriaPlanoConta",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PontoReferencia",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "PontoReferencia",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HorarioFuncionamento",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "HorarioFuncionamento",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "Estacionamento",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "Estacionamento",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AcessoCadeirante",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "AcessoCadeirante",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RadiografiaPanoramica",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "RadiografiaPanoramica",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "AceitaSorriden",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "AceitaSorriden",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "PermitePesquisaUnidades",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "PermitePesquisaUnidades",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CategoriaTamanho",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CategoriaTamanho",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IDTipoReceitaDespesa",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IDTipoReceitaDespesa",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DiaVencimentoFundo",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DiaVencimentoFundo",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "SmsPermitirResposta",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "SmsPermitirResposta",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "BloquearAcesso",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "BloquearAcesso",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IDModeloEmail",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IDModeloEmail",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "NomeComercial",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "NomeComercial",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DataEncerramento",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DataEncerramento",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "DiaTravaSolicitacaoPagamento",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "DiaTravaSolicitacaoPagamento",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "VerificarLimiteOrcamento",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "VerificarLimiteOrcamento",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IDRxPlano",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IDRxPlano",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "CobrarMensalidadeSistema",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "CobrarMensalidadeSistema",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "ValorMensalidadeSistema",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "ValorMensalidadeSistema",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "RegimeTributario",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "RegimeTributario",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "IDSisoTabelaPreco",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "IDSisoTabelaPreco",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HorarioInicio",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "HorarioInicio",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "HorarioTermino",
											"type": "String",
											"physicalType": "UTF8"
										},
										"sink": {
											"name": "HorarioTermino",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "ds_adls_parquet",
								"type": "DatasetReference",
								"parameters": {
									"container": "files",
									"path": "Salus",
									"fileName": "unidade.parquet"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLStaging",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tableName": "stg_unidade"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Curso"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/S3_excel')]",
				"[concat(variables('factoryId'), '/datasets/ds_adls_parquet')]",
				"[concat(variables('factoryId'), '/datasets/SQLStaging')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_localhost')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServerLocalhost",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Schema": {
						"type": "string"
					},
					"Table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "Production",
					"table": "Product"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServerLocalhost')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_product')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SQLStaging",
								"type": "DatasetReference"
							},
							"name": "product"
						},
						{
							"dataset": {
								"referenceName": "SQLStaging",
								"type": "DatasetReference"
							},
							"name": "ProductCategory"
						},
						{
							"dataset": {
								"referenceName": "SQLStaging",
								"type": "DatasetReference"
							},
							"name": "productSubCategory"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "sql_dw",
								"type": "DatasetReference"
							},
							"name": "writeDimProduct"
						}
					],
					"transformations": [
						{
							"name": "join1"
						},
						{
							"name": "Join2"
						},
						{
							"name": "SelectColumns"
						}
					],
					"script": "source(output(\n\t\tid as integer,\n\t\tproductName as string,\n\t\tproductCategory_id as integer,\n\t\tprice as double,\n\t\tcreated_date as timestamp,\n\t\tmodified_date as timestamp,\n\t\tmedida as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'select * from stg_product',\n\tformat: 'query') ~> product\nsource(output(\n\t\tid as integer,\n\t\tproductCategoryName as string,\n\t\tproductSubCategory_id as integer,\n\t\tcreated_date as timestamp,\n\t\tmodified_date as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'select * from stg_productCategory',\n\tformat: 'query') ~> ProductCategory\nsource(output(\n\t\tid as integer,\n\t\tproductSubCategoryName as string,\n\t\tcreated_date as timestamp,\n\t\tmodified_date as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'select * from stg_productsubCategory',\n\tformat: 'query') ~> productSubCategory\nproduct, ProductCategory join(productCategory_id == ProductCategory@id,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> join1\njoin1, productSubCategory join(productSubCategory_id == productSubCategory@id,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> Join2\nJoin2 select(mapColumn(\n\t\tproduct_id = product@id,\n\t\tproductName,\n\t\tprice,\n\t\tmedida,\n\t\tmodified_date = product@modified_date,\n\t\tcreated_date = product@created_date,\n\t\tproductCategory_id,\n\t\tproductCategoryName,\n\t\tproductSubCategory_id,\n\t\tproductSubCategoryName\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectColumns\nSelectColumns sink(allowSchemaDrift: true,\n\tvalidateSchema: true,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> writeDimProduct"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SQLStaging')]",
				"[concat(variables('factoryId'), '/datasets/sql_dw')]"
			]
		}
	]
}