dfFrazao01/linkedTemplates/ArmTemplate_1.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "dfFrazao01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ds_sql_localhost')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServerLocalhost",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"Schema": {
						"type": "string"
					},
					"Table": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [],
				"typeProperties": {
					"schema": "Production",
					"table": "Product"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_product')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "SQLStaging",
								"type": "DatasetReference"
							},
							"name": "product"
						},
						{
							"dataset": {
								"referenceName": "SQLStaging",
								"type": "DatasetReference"
							},
							"name": "ProductCategory"
						},
						{
							"dataset": {
								"referenceName": "SQLStaging",
								"type": "DatasetReference"
							},
							"name": "productSubCategory"
						},
						{
							"dataset": {
								"referenceName": "sql_dw",
								"type": "DatasetReference"
							},
							"name": "dimProduct"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "sql_dw",
								"type": "DatasetReference"
							},
							"name": "writeDimProduct"
						}
					],
					"transformations": [
						{
							"name": "join1"
						},
						{
							"name": "Join2"
						},
						{
							"name": "SelectColumns"
						},
						{
							"name": "Exists"
						},
						{
							"name": "LookupProductID"
						},
						{
							"name": "AllowUpserts"
						}
					],
					"script": "source(output(\n\t\tid as integer,\n\t\tproductName as string,\n\t\tproductCategory_id as integer,\n\t\tprice as double,\n\t\tcreated_date as timestamp,\n\t\tmodified_date as timestamp,\n\t\tmedida as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'select * from stg_product',\n\tformat: 'query') ~> product\nsource(output(\n\t\tid as integer,\n\t\tproductCategoryName as string,\n\t\tproductSubCategory_id as integer,\n\t\tcreated_date as timestamp,\n\t\tmodified_date as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'select * from stg_productCategory',\n\tformat: 'query') ~> ProductCategory\nsource(output(\n\t\tid as integer,\n\t\tproductSubCategoryName as string,\n\t\tcreated_date as timestamp,\n\t\tmodified_date as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'select * from stg_productSubCategory',\n\tformat: 'query') ~> productSubCategory\nsource(output(\n\t\tsk_product_id as integer,\n\t\tproduct_id as integer,\n\t\tproductName as string,\n\t\tprice as double,\n\t\tmedida as string,\n\t\tcreated_date as timestamp,\n\t\tmodified_date as timestamp,\n\t\tproductCategory_id as integer,\n\t\tproductCategoryName as string,\n\t\tproductSubCategory_id as integer,\n\t\tproductSubCategoryName as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table') ~> dimProduct\nproduct, ProductCategory join(productCategory_id == ProductCategory@id,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> join1\njoin1, productSubCategory join(productSubCategory_id == productSubCategory@id,\n\tjoinType:'left',\n\tbroadcast: 'auto')~> Join2\nJoin2 select(mapColumn(\n\t\tproduct_id = product@id,\n\t\tproductName,\n\t\tprice,\n\t\tmedida,\n\t\tmodified_date = product@modified_date,\n\t\tcreated_date = product@created_date,\n\t\tproductCategory_id,\n\t\tproductCategoryName,\n\t\tproductSubCategory_id,\n\t\tproductSubCategoryName\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectColumns\nSelectColumns, dimProduct exists(SelectColumns@product_id == dimProduct@product_id,\n\tnegate:true,\n\tbroadcast: 'auto')~> Exists\nExists, dimProduct lookup(SelectColumns@product_id == dimProduct@product_id,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupProductID\nLookupProductID alterRow(upsertIf(true())) ~> AllowUpserts\nAllowUpserts sink(allowSchemaDrift: true,\n\tvalidateSchema: true,\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['product_id'],\n\tformat: 'table',\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tsaveOrder: 1,\n\terrorHandlingOption: 'stopOnFirstError',\n\tmapColumn(\n\t\tproduct_id = SelectColumns@product_id,\n\t\tproductName = SelectColumns@productName,\n\t\tprice = SelectColumns@price,\n\t\tmedida = SelectColumns@medida,\n\t\tmodified_date = SelectColumns@modified_date,\n\t\tcreated_date = SelectColumns@created_date,\n\t\tproductCategory_id = SelectColumns@productCategory_id,\n\t\tproductCategoryName = SelectColumns@productCategoryName,\n\t\tproductSubCategory_id = SelectColumns@productSubCategory_id,\n\t\tproductSubCategoryName = SelectColumns@productSubCategoryName\n\t)) ~> writeDimProduct"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/pl_product')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "copy product",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "productName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "productCategory_id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "productCategory_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "price",
											"type": "Double",
											"physicalType": "float"
										},
										"sink": {
											"name": "price",
											"type": "Double",
											"physicalType": "float"
										}
									},
									{
										"source": {
											"name": "created_date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "created_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "modified_date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "modified_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "medida",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "medida",
											"type": "String",
											"physicalType": "varchar"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sql_oltp",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tableName": "Product"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLStaging",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tableName": "stg_product"
								}
							}
						]
					},
					{
						"name": "Copy product category",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "copy product",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productCategoryName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "productCategoryName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "productSubCategory_id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "productSubCategory_id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "created_date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "created_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "modified_date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "modified_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sql_oltp",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tableName": "productCategory"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLStaging",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tableName": "stg_productCategory"
								}
							}
						]
					},
					{
						"name": "Copy product sub category",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy product category",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "AzureSqlSink"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										},
										"sink": {
											"name": "id",
											"type": "Int32",
											"physicalType": "int"
										}
									},
									{
										"source": {
											"name": "productSubCategoryName",
											"type": "String",
											"physicalType": "varchar"
										},
										"sink": {
											"name": "productSubCategoryName",
											"type": "String",
											"physicalType": "varchar"
										}
									},
									{
										"source": {
											"name": "created_date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "created_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									},
									{
										"source": {
											"name": "modified_date",
											"type": "DateTime",
											"physicalType": "datetime"
										},
										"sink": {
											"name": "modified_date",
											"type": "DateTime",
											"physicalType": "datetime"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "sql_oltp",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tableName": "productSubCategory"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "SQLStaging",
								"type": "DatasetReference",
								"parameters": {
									"schema": "dbo",
									"tableName": "stg_productSubCategory"
								}
							}
						]
					},
					{
						"name": "transformations",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy product sub category",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_product",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"product": {
										"schema": "dbo",
										"tableName": "stg_Product"
									},
									"ProductCategory": {
										"schema": "dbo",
										"tableName": "stg_ProductCategory"
									},
									"productSubCategory": {
										"schema": "dbo",
										"tableName": "stg_ProductSubCategory"
									},
									"dimProduct": {},
									"writeDimProduct": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Curso"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_product')]"
			]
		}
	]
}